version: '3.8'
services:
  db:
    image: postgres:13.6
    restart: always
    ports:
      - "7433:5432"
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "blockscout"
      POSTGRES_HOST_AUTH_METHOD: "trust"

    volumes:
      - database_data:/var/lib/postgresql/data
    
  blockscout:
      depends_on:
        - db
      image: "docker.pkg.github.com/artemstrelnik/blockscout-docker/blockscout-docker:main"
      links:
      - db
      tty: true
      environment:
        DATABASE_URL: "postgresql://blockscout:123@db:7433/blockscout?ssl=false"
        ECTO_USE_SSL: "false"
        POSTGRES_PASSWORD: "123"
        POSTGRES_USER: "blockscout"
      extra_hosts:
      - 'host.docker.internal:host-gateway'
      command: "mix do ecto.drop, ecto.create, ecto.migrate, phx.server"
      ports:
        - "4000:4000"
      expose:
        - "4000"
volumes:
  database_data:
    driver: local