version: '3'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "7433:5432"
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "blockscout"

    volumes:
      - database_data:/var/lib/postgresql/data
    
  blockscout:
      depends_on:
        - db
      image: "docker.pkg.github.com/artemstrelnik/blockscout-1/blockscout-1:latest"
      links:
      - db
      tty: true
      environment:
        DATABASE_URL: "postgresql://blockscout:123@db:5432/blockscout?ssl=false"
        ECTO_USE_SSL: "false"
        ETHEREUM_JSONRPC_VARIANT: "geth"
        ETHEREUM_JSONRPC_HTTP_URL: "http://localhost:8545/"
        ETHEREUM_JSONRPC_WS_URL: "ws://localhost:8546"
        COIN: "TMY"
        SUBNETWORK: "Mainnet"
        NETWORK: "TMY"
        CHAIN_ID: "8765"
        COIN_NAME: "TMY"
        LINK_TO_OTHER_EXPLORERS: "false"
        INDEXER_MEMORY_LIMIT: "3.5Gb"
        DISABLE_EXCHANGE_RATES: "true"
        SHOW_MAINTENANCE_ALERT: "false"
        MAINTENANCE_ALERT_MESSAGE: "Under mainteance"
        CUSTOM_CONTRACT_ADDRESSES_TEST_TOKEN: "['0x6d0ef6d751fa5768bf2d05cc133acc8f80c3b560232e0dd5c65d62c7dfb56ee8', '0xb524427d9e5f04675072602863ea7d9819bf5ab6921485e6f0966b5dc66cac68']"
        SUPPORTED_CHAINS: "[{'title': 'ToTheMoney Blockchain', 'url': 'https://tmyblockchain.org'}]"
        # DATABASE_URL: "postgresql://blockscout:123@db:5432/blockscout?ssl=false"
        # ECTO_USE_SSL: "false"
        # POSTGRES_PASSWORD: "123"
        # POSTGRES_USER: "blockscout"
        # PORT: "4000"
        # POOL_SIZE: "40"
        # POOL_SIZE_API: "10" 
        # HEART_BEAT_TIMEOUT: "30"
        # ETHEREUM_JSONRPC_HTTP_URL: "http://host.docker.internal:8545/"
        # ETHEREUM_JSONRPC_TRACE_URL: "http://localhost:8545"
        # ETHEREUM_JSONRPC_WS_URL: "ws://localhost:8546"
        # ETHEREUM_JSONRPC_VARIANT: "parity"
      command: "mix do ecto.drop, ecto.create, ecto.migrate, phx.server"
      ports:
        - "4000:4000"
      expose:
        - "4000"
volumes:
  database_data:
    driver: local
