version: '3'
services:
  database:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "blockscout"
    volumes:
      - ./database_data:/var/lib/postgresql/data
    networks:
      - db
    
  blockscout:
      depends_on:
        - database
      image: "docker.pkg.github.com/artemstrelnik/blockscout/blockscout:main"
      restart: always
      # links:
      #   - database
      tty: true
      networks:
        - db
      environment:
        DATABASE_URL: "postgresql://blockscout:123@db:5432/blockscout?ssl=false"
        ECTO_USE_SSL: "false"
      command: 'mix do ecto.create, ecto.migrate, phx.server'
      ports:
        - "4000:4000"
      expose:
        - "4000"

networks:
  db:
    driver: bridge

# volumes:
#   database_data:
#     driver: local
