version: '3'
services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - 7432:7432
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "blockscout"
    volumes:
      - database_data:/var/lib/postgresql/data
    networks:
      - db
    
  blockscout:
      depends_on:
        - db
      image: "docker.pkg.github.com/artemstrelnik/blockscout-docker/blockscout-docker:main"
      links:
        - db
      restart: always
      tty: true
      networks:
        - db
      environment:
        DATABASE_URL: "postgresql://blockscout:123@db:7432/blockscout?ssl=false"
        ECTO_USE_SSL: "false"
        POSTGRES_PASSWORD: "123"
        POSTGRES_USER: "blockscout"
      command: "mix do ecto.drop, ecto.create, ecto.migrate, phx.server"
      ports:
        - "4000:4000"
      expose:
        - "4000"

networks:
  db:
    driver: bridge

volumes:
  database_data:
    driver: local
