version: '3'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "7433:5432"
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "blockscout"

    volumes:
      - database_data:/var/lib/postgresql/data
    
  blockscout:
      depends_on:
        - db
      image: "docker.pkg.github.com/artemstrelnik/blockscout-1/blockscout-1:latest"
      links:
      - db
      tty: true
      environment:
        DATABASE_URL: "postgresql://blockscout:123@db:5432/blockscout?ssl=false"
        ECTO_USE_SSL: "false"
        POSTGRES_PASSWORD: "123"
        POSTGRES_USER: "blockscout"
        PORT: "4000"
        POOL_SIZE: "40"
        POOL_SIZE_API: "10" 
        HEART_BEAT_TIMEOUT: "30"
        ETHEREUM_JSONRPC_HTTP_URL: "http://185.135.80.216:8545"
        ETHEREUM_JSONRPC_WS_URL: "ws://185.135.80.216:8546"
        ETHEREUM_JSONRPC_VARIANT: "geth"
      command: "mix do ecto.drop, ecto.create, ecto.migrate, phx.server"
      ports:
        - "4009:4000"
      expose:
        - "4009"
volumes:
  database_data:
    driver: local
