name: Image build and push

on: 
  workflow_dispatch:
    inputs:
      version:
        description: Build docker image
        default: v1.0.0
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check
        uses: actions/checkout@v2

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: artemstrelnik/blockscout-docker/blockscout-docker
          tag_with_ref: true
          